<h1>Mis Proyectos~</h1>

<div class="container d-flex flex-wrap justify-content-center">
<div class="p-5">
<div class="card" style="width: 18rem;">
  <%= image_tag 'viajes.png' %>
  <div class="card-body cardbody-custom">
    <p class="card-text text-custom">Viajes Chile</p>
    <a href="https://danicalderonm.github.io/ViajesChile/" target="_blank" class="btn btn-custom text-custombtn">Ir a la pagina</a>
  </div>
</div>
</div>
<div class="p-5">
<div class="card" style="width: 18rem;">
  <%= image_tag 'iguana.png' %>
  <div class="card-body cardbody-custom">
    <p class="card-text text-custom">Iguana Page</p>
    <a href="https://danicalderonm.github.io/IguanaPage/" target="_blank" class="btn btn-custom text-custombtn">Ir a la pagina</a>
  </div>
  </div>
</div>
</div>
</div>

<div class="container d-flex flex-wrap justify-content-center">
<div class="p-5">
<div class="card" style="width: 18rem;">
  <%= image_tag 'suricata.png' %>
  <div class="card-body cardbody-custom">
    <p class="card-text text-custom">Suricata</p>
    <a href="https://danicalderonm.github.io/Suricataa/" target="_blank" class="btn btn-custom text-custombtn">Ir a la pagina</a>
  </div>
</div>
</div>

<div class="p-5">
<div class="card" style="width: 18rem;">
  <%= image_tag 'meet.png' %>
  <div class="card-body cardbody-custom">
    <p class="card-text text-custom">Meet & Coffee</p>
    <a href="https://danicalderonm.github.io/Meet-Coffee/" target="_blank" class="btn btn-custom text-custombtn">Ir a la pagina</a>
  </div>
</div>
</div>

<div class="container d-flex flex-wrap justify-content-center">
 <a href="https://github.com/DaniCalderonM" target="_blank" class="btn btn-ver-mas">Ver más</a>
</div>
</div>
